body {
  background: #4B8BBE;
}

.container {
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 1000px;
  overflow: hidden;
  padding-top: 90px;
  padding-left: 148px;
  padding-right: 130px;
  padding-bottom: 88px;
  spacing: 50px;
}

.navbar {
  background: #FFE873;
  margin-top: 0px;
  margin-bottom: 20px;
}
